.title{
    letter-spacing: 6px;
}

.calculator{
    overflow: hidden;
    height: 450px;
    width: 350px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr repeat(5, 50px);
}